
/* .box-shadow{
    background: #ccc;
    box-shadow: 4px 3px 8px 1px #000000;
    -webkit-box-shadow: 4px 3px 8px 1px #000000;
    
} */

.redes_sociais{

   
   display: flex;
   flex-direction: row;
   padding: 28px;
   margin-left: 100px;
   margin-right: 100px;
   
   justify-content:space-between;
   align-items: center;
}

.cores_letras{
    color: rgb(255, 255, 255);
    font-weight: bolder;
}