<footer style="background-color: #0B0E46;">

    <div style="color:rgb(206, 216, 216);text-align-last: center;">
        <h2> NOSSAS REDES SOCIAIS</h2>
    </div>
    <div class="redes_sociais"> <!--LOGO redes sociais-->
        <a href="#" target="_blank"> <img src="assets/img/whats.png" alt="" width="30px"></a>
        <h6 class="cores_letras"> WhatsApp: (99)9999-9999</h6>
        <a href="#" target="_blank"> <img src="assets/img/insta.png" alt="" width="30px"></a>
        <h6 class="cores_letras"> Intagram: @gamemania</h6>
        <a href="#" target="_blank"> <img src="assets/img/face.png"  alt="" width="30px"></a>
        <h6 class="cores_letras"> Facebook:GameMania</h6>           
    </div>

</footer>
