
<body class="margem">
    
    
    <br>

    <main> <!--Faixa preta com imagens dos jogos e botoes das categorias-->
        <div>
            <section style="background-color:black" class="carrocel">
                <div class="carrocel_slider">
                    <ul class="carrocel_lista">
                        <li class="carrocel_item">
                        <img class="imagem-jogos" src="assets/img/the wicher.png" alt="the-witcher" width="80px">
                        </li>
                        <li class="carrocel_item">
                        <img class="imagem-jogos" src="assets/img/ark.jpg" alt="ark" width="80px">
                        </li>
                        <li class="carrocel_item">
                        <img class="imagem-jogos" src="assets/img/Bioshock.jpg" alt="Bioshock" width="80px">
                        </li>
                        <li class="carrocel_item">
                        <img class="imagem-jogos" src="assets/img/Mario kart.jpg" alt="mario-kart" width="80px">
                        </li>
                        <li class="carrocel_item">
                        <img class="imagem-jogos" src="assets/img/cod.jpg" alt="cod" width="80px">
                        <li class="carrocel_item">
                        <img class="imagem-jogos" src="assets/img/skyrim.jpg" alt="skyrim" width="80px">
                        </li>
                        <li class="carrocel_item">
                        <img class="imagem-jogos" src="assets/img/League od legends.jpg" alt="skyrim" width="80px">
                        </li>
                        <li class="carrocel_item">
                        <img class="imagem-jogos" src="assets/img/fortnie.jpg" alt="skyrim" width="80px">
                        </li>
                        <li class="carrocel_item">
                        <img class="imagem-jogos" src="assets/img/cs go.jpg" alt="skyrim" width="80px">
                        </li>
                    </ul>
                </div>
            </section>
        </div>        
        <div>      
            <section class="menu container" id="menu-botoes">
                                                           
                <a href="/html/" target="_blank"><button type="button" class="btn btn-outline-primary">Acessórios</button></a>
                <a href="/html/" target="_blank"><button type="button" class="btn btn-outline-primary">Consoles</button></a>
                <a href="/html/" target="_blank"><button type="button" class="btn btn-outline-primary">Gadgets</button></a>
                <a href="/html/" target="_blank"><button type="button" class="btn btn-outline-primary">Smartphones</button></a>
                <a href="/html/" target="_blank"><button type="button" class="btn btn-outline-primary">Mídias</button></a>
                <a href="/html/" target="_blank"><button type="button" class="btn btn-outline-primary">Gamer</button></a>
                <a href="/html/" target="_blank"><button type="button" class="btn btn-outline-primary">Informática</button></a>
                <a href="/html/" target="_blank"><button type="button" class="btn btn-outline-primary">Notebooks</button></a>                               
            </section>
        </div>
    

        <section>
            <!-- <nav class="container"> -->

                <div class="destaques">
                    <figure class="imagem"> <!--Fundo branco com as 3 imagens e textos: PROMOÇÔES, NOVIDADES, DESCONTOS-->
                        
                        <img class="box-shadow imagem_imagem" src="assets/img/Controle Xbox.jpeg" alt="Promoções" width="30%">
                        <div class="imagem_overlay .imagem_overlay--blur">
                            <div class="titulo_imagem">PROMOÇÕES</div>
                            <p class="descricao_imagem">
                                Ofertas até 50% OFF
                        </div>
                    </figure>
                    <figure class="imagem">
                        <img class="box-shadow imagem_imagem" src="assets/img/Controle Playstation.jpg" alt="Novidades" width="30%">
                        <div class="imagem_overlay .imagem_overlay--blur">
                            <div class="titulo_imagem">NOVIDADES</div>
                            <p class="descricao_imagem">
                                Atualizações e mais
                        </div>
                    </figure>
                    <figure class="imagem"> 
                        <img class="box-shadow imagem_imagem" src="assets/img/Fundo Descontos.jpg" alt="Comunidade" width="30%">
                        <div class="imagem_overlay .imagem_overlay--blur">
                            <div class="titulo_imagem">COMUNIDADE</div>
                            <p class="descricao_imagem">
                                Junte-se ao time
                        </div>
                    </figure> 
                </div>

            <!-- </nav> -->
        </section>

        <section>
            <nav>
                <figure> <!--Faixa com a foto do fone e teclado, com margem preta-->
                    <img id="divisória-site" class="divisoria" src="https://images.pexels.com/photos/3165335/pexels-photo-3165335.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="Foto teclado">
                </figure>
            </nav>
        </section>

        <section> <!--Fundo branco com 3 retângulos, e os textos: Contato; Quem somos; Como chegar-->
            <nav class="contatos">
                <div class="card text-center card border-primary mb-3 box-shadow" style="width: 18rem;">                     
                    <img src="assets/img/Fundo Contato.png" class="card-img-top" alt="contatos">
                    <div class="card-body">
                      <h5 class="card-title">CONTATOS</h5>
                      <p class="card-text">Telefone: (99)9999-9999</p>
                      <p class="card-text">gamemania@email.com</p>
                      <a href="#" class="btn btn-primary">Fale conosco</a>
                    </div>
                </div>
                <div class="card text-center card border-primary mb-3 box-shadow" style="width: 18rem;">
                    <img src="assets/img/Fundo Quem somos.jpeg" class="card-img-top" alt="Quem somos">
                    <div class="card-body">
                      <h5 class="card-title">QUEM SOMOS</h5>
                      <p class="card-text"> Nossa missão: xxxxxxxx</p>
                      <p class="card-text"> Visão e valores: xxxxxxx</p>
                      
                      <a href="#" class="btn btn-primary">Saiba mais</a>
                    </div>
                </div>
                <div class="card text-center card border-primary mb-3 box-shadow" style="width: 18rem;">
                    <img src="assets/img/Fundo Como chegar.png" class="card-img-top" alt="como chegar">
                    <div class="card-body">
                      <h5 class="card-title">COMO CHEGAR</h5>
                      <p class="card-text">Mapa /Localização</p>
                      <br>
                    
                     
                      <a href="#" class="btn btn-primary">Venha nos conhecer</a>
                    </div>
                </div>

            </nav>  
        </section>
    </main>

    
    
</body>