<header> <!--Parte superior do site,LOGO, Caixa de pesquisa, Carrinho e Login-->
    <nav>
        <div id="menu" class="cabecalho">

            <a href="">
            <img class="logo" id="logo-site" src="assets/img/Logo Gamemania.png" alt="Logo GameMania"></a>                         
            <div id="menu" class="menu"> 
                <a routerLink="SiteGameMania/src/app/views/home/home.component.html"><button type="button" class="btn btn-secondary">INICIO</button></a>
                <a href="carrinho.html"> <img id="imagem-carrinho" src="assets/img/Carrinho.png"
                        alt="Carrinho" width="56.98px" height="48.64px"> </a>
                
                
                <a routerLink="SiteGameMania/src/app/views/login/login.component.html"><button type="button" class="btn btn-secondary">LOGIN</button></a>
            </div>            
        </div>
    </nav>
        
</header> 
